@model IEnumerable<E_Procurement.WebUI.Models.RfqApprovalModel.RFQGenerationViewModel>
@{
    ViewBag.Title = "RFQ Due for Approval";
}


<div class="card pd-20 pd-sm-40">
    <h6 class="card-body-title">RFQ Due for Approval</h6>
    <p class="mg-b-20 mg-sm-b-30"> List </p>

    @*<div class="right">
        <a asp-controller="RfqApprovalConfig" asp-action="Create" alt="Create" class="btn btn-primary"> Create Approval Config </a>
    </div>*@
    <div class="table-wrapper">
        <table id="datatable1" class="table table-striped display responsive nowrap">
            <thead>
                <tr>
                    <th class="wd-5p">S/N</th>
                    <th class="wd-5p">RFQ No</th>
                    <th class="wd-5p">Proj. ID</th>
                    <th class="wd-5p">Req. ID</th>
                    <th class="wd-10p">Reference</th>
                    <th class="wd-15p">Description</th>
                    <th class="wd-15p">StartDate</th>
                    <th class="wd-15p">EndDate</th>
                    <th class="wd-10p">RFQStatus</th>
                    <th class="wd-10p"></th>




                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var approvalConfig in Model)
                {
                <tr>
                    <td>@(i = i + 1)</td>
                    <td>@approvalConfig.RFQId</td>
                    <td>@approvalConfig.ProjectId</td>
                    <td>@approvalConfig.RequisitionId</td>
                    <td>@approvalConfig.Reference</td>
                    <td>@approvalConfig.Description</td>
                    <td>@approvalConfig.StartDate.ToString("dd MMM yyyy")</td>
                    <td>@approvalConfig.EndDate.ToString("dd MMM yyyy")</td>
                    <td>@approvalConfig.RFQStatus</td>
                    <td><a asp-controller="RfqApproval" asp-action="RfqVendorsDetails" asp-route-id="@approvalConfig.RFQId" alt="Edit" class="btn btn-primary btn-icon"> <div><i class="fa fa-pencil"></i></div></a> </td>

                </tr>
                }
            </tbody>
        </table>
    </div><!-- table-wrapper -->
</div><!-- card -->

<script src="/lib/jquery/jquery.js"></script>
<script src="/lib/datatables/jquery.dataTables.js"></script>
<script src="/lib/datatables-responsive/dataTables.responsive.js"></script>
<script src="../lib/select2/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
       // $.noConflict();
        $(function () {
            'use strict';
           
            // for all datatable
            $('#datatable1').DataTable({
                responsive: true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                }
            });
            // Select2
            $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });
        });
    });
</script>


