@model IEnumerable<E_Procurement.WebUI.Models.RfqApprovalModel.RFQGenerationViewModel>
@{
    ViewBag.Title = "Pending Approval By Vendor(s)";
}


<div class="card pd-20 pd-sm-40">
    <h6 class="card-body-title">Pending Approval By Vendor(s)</h6>
    <p class="mg-b-20 mg-sm-b-30"> List </p>


    <div class="table-wrapper">
        <table id="datatable1" class="table table-striped display responsive nowrap">
            <thead>
                <tr>
                    <th class="wd-5p">S/N</th>
                    <th class="wd-5p">RFQ No</th>
                    <th class="wd-5p">Proj. ID</th>
                    <th class="wd-5p">Req. ID</th>
                    <th class="wd-10p">Status</th>
                    <th class="wd-25p">Vendor Name</th>
                    <th class="wd-25p">Contact</th>
                    <th class="wd-25p">Amount</th>
                    <th class="wd-10p"></th>




                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var approvalConfig in Model)
                {
                <tr>
                    <td>@(i = i + 1)</td>
                    <td>@approvalConfig.RFQId</td>
                    <td>@approvalConfig.ProjectId</td>
                    <td>@approvalConfig.RequisitionId</td>
                    <td>@approvalConfig.RFQStatus</td>
                    <td>@approvalConfig.VendorName</td>
                    <td>@approvalConfig.ContactName</td>
                    <td>@approvalConfig.TotalAmount</td>
                    <td>
                        @if (!string.IsNullOrEmpty(@approvalConfig.RFQStatus))
                        {


                            @*<a href="/RfqApproval/RfqApprovalDetails/@approvalConfig.RFQId/@approvalConfig.VendorId" alt="Edit" class="btn btn-primary btn-icon"> <div><i class="fa fa-pencil"></i></div></a>*@
                            <form id="@approvalConfig.RFQId@approvalConfig.VendorId" asp-action="RfqApprovalDetails" method="get">
                                <input type="hidden" name="id" value="@approvalConfig.RFQId" />
                                <input type="hidden" name="VendorId" value="@approvalConfig.VendorId" />
                                <button type="submit" class="btn btn-primary btn-icon"><div><i class="fa fa-pencil"></i></div></button>
                            </form>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div><!-- table-wrapper -->
</div><!-- card -->

<script src="/lib/jquery/jquery.js"></script>
<script src="/lib/datatables/jquery.dataTables.js"></script>
<script src="/lib/datatables-responsive/dataTables.responsive.js"></script>
<script src="../lib/select2/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
       // $.noConflict();
        $(function () {
            'use strict';
           
            // for all datatable
            $('#datatable1').DataTable({
                responsive: true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                }
            });
            // Select2
            $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });
        });
    });
</script>


