@model E_Procurement.Repository.Dtos.RFQGenerationModel


<html lang="en">
<head>
    <title>CyberSpace</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .content {
            max-width: 1000px;
            margin: auto;
        }
    </style>
</head>

<body>

    <div align="center">
        <img src="https://localhost:44395/img/cyb-logo.png" style="max-width:1200; height:100;">
    </div>

    <div class="content">
        <div class="col-sm-8">
           
            <br>
            <p>@DateTime.Now.ToString("dd MMM yyyy")</p>
            <br>
            <p><b>The Managing Director</p></b>
            <p><b> @Html.DisplayFor(model => model.VendorName)</p></b>
            <p><b> @Html.DisplayFor(model => model.VendorAddress)</p></b>
            @*<p><b>Sabo Yaba</p></b>
        <p><b>Lagos.</p></b>*@
        </div>

        <div class="col-sm-8">
            <p>Dear Sir,

            <p><b>NOTIFICATION TO PROVIDE REFERENCE FOR QUOTE</p></b>
            <p> We are pleased to inform you that your company has been selected to provide for RFQ for the following items: </p>
        </div>



        <div class="col-sm-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>s/n </td>
                        <td>Item </td>
                        <td class="col-sm-4">Description </td>
                        <td> Quantity</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                    }
                    @{
                        //var RFQDetails = Model.RFQDetails as List<E_Procurement.WebUI.Models.RfqApprovalModel.RFQDetailsViewModel>;
                        var RFQDetails = Model.RFQDetails as List<E_Procurement.Repository.Dtos.RFQDetailsModel>;

                    }
                    @foreach (var approvalConfig in RFQDetails)
                    {
                        <tr>
                            <td>@(i = i + 1)</td>
                          
                            <td>@approvalConfig.ItemName</td>
                            
                            <td>@approvalConfig.Description</td>
                          
                            <td>@approvalConfig.QuotedQuantity</td>

                        </tr>
                    }


                    @*<tr>
                            <td>Total</td>
                            <td colspan=3 align="right">  Total</td>
                            <td> ₦@Html.DisplayFor(model => model.TotalAmount)</td>
                        </tr>*@

        </div>
        <div>
        </div>
        </table>


        <p>Yours faithfully,</p>
        <p>For: <b>CYBERSPACE NETWORK LIMITED</b></p>
    </div>
    <BR>

    <div class=row>
        <div class="col-sm-3">
            <p><b>VICTOR ABULELE</b></p>
            <p>Authorized Signatory</p>
        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-3">
            <p><b>JOE ONWUBUYA</b></p>
            <p>Authorized Signatory</p>
        </div>


        <div class="footer"></div>
        <br>


    </div>







</body>
</html>

