@model IEnumerable<E_Procurement.WebUI.Models.RFQModel.RfqGenModel>

<div class="main-card mb-3 card">

    @*<p class="mg-b-20 mg-sm-b-30">Searching, ordering and paging goodness will be immediately added to the table, as shown in this example.</p>*@
    <div class="card-body">
        <div class="" style="display:flex; justify-content:space-between">
            <a class="btn btn-primary" pull-right" href="@Url.Action("Create", "RfqGen")"><i class="fa fa-plus"> </i>  Generate RFQ</a>


            <input type="text" id="myInput" style="width:200px; height:40px" onkeyup="myFunction()" class="form-control" placeholder="Search..">

        </div>
        <br />
        <hr />
        <br />

        @*<div class="table-wrapper">*@
        <table id="datatable1" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th class="wd-5p">S/N</th>
                    <th class="wd-15p">Reference</th>
                    @*<th class="wd-15p">Quantity</th>*@

                    <th class="wd-20p">Vendor(s)</th>
                    <th class="wd-20p">Item(s)</th>
                    <th class="wd-15p">Start Date</th>
                    <th class="wd-10p">End Date</th>
                    <th class="wd-15p">Status</th>
                    <th class="wd-10p">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }

                @foreach (var user in Model)
                {

                    <tr>
                        <td>@(i = i + 1)</td>
                        <td>@user.Reference</td>
                        @*<td>@user.Quantity</td>*@

                        <td>@user.VendorName</td>
                        <td>@user.Item</td>
                        <td>@user.StartDate.ToString("dd-MMM-yyyy")</td>
                        <td>@user.EndDate.ToString("dd-MMM-yyyy")</td>
                        <td>
                            @if (Convert.ToDateTime(user.EndDate) > DateTime.Now)
                            {
                                <label class="text-success">Active</label>
                            }
                            else
                            {
                                <label class="text-danger">Inactive</label>

                            }
                        </td>
                        <td style="width:50px">
                            @if (Convert.ToDateTime(user.EndDate) > DateTime.Now)
                            {
                                <a class="btn btn-orange" style="width:120px" data-toggle="modal" data-target="#modaldemo6" href="@Url.Action("Close", "RfqGen",  new { RFQId = user.RFQId})" onclick="myFunction3(@user.RFQId);"><span class="fa fa-pencil"></span><i class="pe-7s-edit btn-icon-wrapper"></i> Close RFQ</a>


                            }
                            else
                            {
                                <a class="btn btn-info mg-r-5" style="width:120px" data-toggle="modal" data-target="#modaldemo5"
                                   href="@Url.Action("Extend", "RfqGen",  new { RFQId = user.RFQId})" onclick="myFunction2(@user.RFQId);"><span class="fa fa-pencil"></span><i class="pe-7s-edit btn-icon-wrapper"></i> Extend RFQ</a>

                            }
                        </td>
                        @*<td><a class="btn btn-orange" href="@Url.Action("Edit", "RfqGen",  new { VendorId = user.Id })"><span class="fa fa-pencil"></span><i class="pe-7s-edit btn-icon-wrapper"></i> Edit</a></td>*@

                    </tr>

                }
            </tbody>
        </table>
       
        <partial name="Extend" />
        <partial name="Close" />
    </div><!-- table-wrapper -->
    
</div><!-- card -->
    <script>
        $('#datatable1').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_ items/page',
            }
        });

        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("datatable1");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

       
        function myFunction2(RFQId) {
            
            //alert(RFQId);
           
            //alert($("#RFQId").val());
           

             $("#RFQId").val(RFQId);
           
        }
        function myFunction3(RFQId) {

            //alert(RFQId);
            //alert(RFQId);
          
            //alert($("#RFQId2").val());


            $("#RFQId2").val(RFQId);

        }
    </script>


