@model IEnumerable<E_Procurement.Repository.ReportRepo.ReportModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vendor Categories";
    ViewBag.FavIcon = "fa fa-street-view";
    ViewBag.PageDesc = "Manage Vendor Categories";
}




<div class="main-card mb-3 card">

    <div class="card-body">

        <div class="" style="display:flex; justify-content:space-between">
            <a class="btn btn-primary" pull-right" href="@Url.Action("EvaluationPeriodCreate", "Report")"><i class="fa fa-plus"> </i>  Add Period</a>

            <input type="text" id="myInput" style="width:200px; height:40px" onkeyup="myFunction()" class="form-control" placeholder="Search..">
        </div>
        <br />
        <hr />
        <br />
        <table id="myTable" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>S/N</th>
                    @*<th>Item </th>*@
                    <th>Evaluation Period </th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @{int rowNo = 0;}
                @foreach (var item in Model)
                {
                <tr>
                    <td style="width:50px">@(rowNo += 1)</td>
                    @*<td>@item.ItemName</td>*@
                    <td>@item.EvaluationPeriod</td>
                    <td style="width:200px">@item.StartDate.ToString("dd-MMM-yyyy")</td>
                    <td style="width:200px">@item.EndDate.ToString("dd-MMM-yyyy")</td>
                    <td style="width:100px">
                        @if (Convert.ToDateTime(item.EndDate) >= DateTime.Now.Date)
                        {
                            <label class="text-success">Active</label>
                        }
                        else
                        {
                            <label class="text-danger">Inactive</label>

                        }
                    </td>
                    <td style="width:50px"><a class="btn btn-orange" href="@Url.Action("EvaluationPeriodEdit", "Report",  new { PeriodId = item.PeriodId })"><span class="fa fa-pencil"></span><i class="pe-7s-edit btn-icon-wrapper"></i> Edit</a></td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
