@model E_Procurement.Repository.ReportRepo.ReportModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vendor Categories";
    ViewBag.PageDesc = "Create Category";
    ViewBag.FavIcon = "fa fa-street-view";
}


<div class="row row-sm mg-t-20">
    <div class="col-xl-12">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-4">
            <h6 class="card-body-title">Evaluation Period</h6>
            <p class="mg-b-20 mg-sm-b-30">Configure</p>
            <form class="form-horizontal" action="@Url.Action("EvaluationPeriodCreate","Report")" method="post">
                @Html.AntiForgeryToken()
                @*<h2 class="text-center">Basic forms Example</h2>*@
                <br />

                <!-- Text input-->
                @*<div class="row mg-t-20">

            <div class="col-md-6" style="margin-top:10px">
                <label for="VendorName">Category:</label>
                @Html.DropDownListFor(model => model.CategoryId, Model.ItemCategoryList, "-- Select Category --", htmlAttributes: new { id = "ItemCategory", @class = "form-control", required = "required", style = "width:450px; height:40px" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>


        </div>*@
                <div class="col-md-6" style="margin-top:0px">
                    <div class="row mg-t-20">
                        <div class="col-md-6" style="margin-top:10px">
                            <label for="EvaluationPeriod">Evaluation Period:</label>
                            @Html.EditorFor(model => model.EvaluationPeriod, new { htmlAttributes = new { id = "EvaluationPeriod", @class = "form-control", @type = "text", required = "required", style = "width:450px; height:40px" } })
                            @Html.ValidationMessageFor(model => model.EvaluationPeriod, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class="row mg-sm-t-0">

                        <div class="col-md-4">
                            <label for="StartDate">Start Date:</label>
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control datepicker", @placeholder = "Start Date", @Id = "StartDate", type = "date", style = "width:160px; height:40px" })

                            @*@Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })*@

                        </div>
                        <div class="col-md-4">
                            <label for="EndDate">End Date:</label>
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datepicker", @placeholder = "End Date", @Id = "EndDate", type = "date", style = "width:160px; height:40px" })

                            @*@Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })*@

                        </div>
                    </div>
                    </div>
                    <!-- ./Text input-->
                    <!-- Button -->
                    <br />
                    <div class="form-group">
                        <label class="col-md-8 control-label"></label>
                        <div class="col-md-4">

                            <button type="submit" class="btn btn-info mg-r-5"><span class="glyphicon glyphicon-send"></span>  Submit</button>

                            <a href="@Url.Action("EvaluationPeriodIndex","Report")" class="btn btn-secondary"><span class="glyphicon glyphicon-remove"></span> Back</a>
                        </div>

                    </div>

            </form>
        </div>
    </div>
</div>

