@model E_Procurement.Repository.ReportRepo.ReportModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vendor Category";
    ViewBag.PageDesc = "Edit Category";
    ViewBag.FavIcon = "fa fa-street-view";
}

<!-- page section -->
<div class="row row-sm mg-t-20">
    <div class="col-xl-12">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-4">
            <h6 class="card-body-title">Category</h6>
            <p class="mg-b-20 mg-sm-b-30">Edit</p>
            <form class="form-horizontal" action="@Url.Action("EvaluationPeriodEdit","Report")" method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.PeriodId)

                <br />
                <div class="col-md-6" style="margin-top:0px">
                    <div class="row mg-t-20">
                        <div class="col-md-6" style="margin-top:10px">
                            <label for="EvaluationPeriod">Evaluation Period:</label>
                            @Html.EditorFor(model => model.EvaluationPeriod, new { htmlAttributes = new { id = "EvaluationPeriod", @class = "form-control", @type = "text", required = "required", style = "width:450px; height:40px" } })
                            @Html.ValidationMessageFor(model => model.EvaluationPeriod, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />

                    <div class="row mg-sm-t-0">

                        <div class="col-md-4">
                            <label for="StartDate">Start Date:</label>

                            @*<input type="date" value="2019-08-12" name="StartDate" id=model.StartDate style="width:160px; height:40px" class="form-control datepicker">*@
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control datepicker", @placeholder = "Start Date", @Id = "StartDate", type = "date", @*value = "2019-08-12",*@ style = "width:160px; height:40px" })

                            @*@Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })*@
                            @*<div class="input-group date form_date " data-date=""
                                 data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control input-height", placeholder = "Start Date"  })
                                @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                                <span class="input-group-addon"><span class="fa fa-remove"></span></span>
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            </div>*@

                        </div>
                        <div class="col-md-4">
                            <label for="EndDate">End Date:</label>
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datepicker", @placeholder = "End Date", @Id = "EndDate", type = "date", style = "width:160px; height:40px" })

                            @*@Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })*@

                        </div>
                    </div>
                </div>
                <br />
                @*<div class="row mg-t-20">
            <div class="col-md-6" style="margin-top:10px">
                <label for="IsActive">Is Active?</label>
                @Html.CheckBoxFor(model => model.IsActive, new { @htmlAttributes = new { id = "active", @type = "checkbox", @class = "form-control", style = "width:100px; height:100px" } })

                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>*@
                <!-- ./Text input-->
                <!-- Button -->
                <br />
                <div class="form-group">
                    <label class="col-md-8 control-label"></label>
                    <div class="col-md-4">

                        <button type="submit" class="btn btn-info mg-r-5"><span class="glyphicon glyphicon-send"></span>  Submit</button>

                        <a href="@Url.Action("EvaluationPeriodIndex","Report")" class="btn btn-secondary"><span class="glyphicon glyphicon-remove"></span> Back</a>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
