@model IEnumerable<E_Procurement.Repository.VendoRepo.VendorModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vendor";
    ViewBag.FavIcon = "fa fa-street-view";
    ViewBag.PageDesc = "Manage Vendor";
}

<div class="main-card mb-3 card">

    <div class="card-body">
        
            <div class="" style="display:flex; justify-content:space-between">
                <a class="btn btn-primary" pull-right" href="@Url.Action("SignatureCreate", "Sign")"><i class="fa fa-plus"> </i>  Add Signature</a>


                <input type="text" id="myInput" style="width:300px; height:40px" onkeyup="myFunction()" class="form-control" placeholder="Search..">

            </div>

            
            <hr />
            
            <table id="myTable" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>1st Approver</th>
                        <th>1st Signature</th>
                        <th>2nd Approver</th>
                        <th>2nd Signature</th>
                        <th>Action </th>

                    </tr>
                </thead>
                <tbody>

                    @{int rowNo = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(rowNo += 1)</td>
                            <td>@item.Signee1</td>

                            <td><a class="btn btn-info mg-r-5" target="_blank" href="~/Uploads/Signatures/@item.Sign1Path" style="height:50px; width:110px"><span class="fa fa-eye"></span> <br />Click to view @*<br /><br /> Memorandum <br />Of Association*@</a></td>

                            <td>@item.Signee2</td>

                            <td><a class="btn btn-info mg-r-5" target="_blank" href="~/Uploads/Signatures/@item.Sign2Path" style="height:50px; width:110px"><span class="fa fa-eye"></span> <br />Click to view @*<br /><br /> Bank <br />Reference <br /> Letter*@ </a></td>
                            <td style="width:50px">
                                @if (item.IsActive == false)
                                {
                                    <a class="btn btn-orange" style="width:120px" data-toggle="modal" data-target="#modaldemo10" href="@Url.Action("Activate", "Sign",  new { SignId = item.SignId})" onclick="myFunction10(@item.SignId);"><span class="fa fa-pencil"></span><i class="pe-7s-edit btn-icon-wrapper"></i> Activate</a>


                                }
                                else
                                {
                                    <label class="text-success">Active</label>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <partial name="Activate" />
        </div>
    </div>
   
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function myFunction10(SignId) {

        //alert(SignId);
        //alert(RFQId);

        //alert($("#RFQId2").val());


        $("#SignId").val(SignId);

    }
</script>
