@model E_Procurement.WebUI.Models.VendorCategoryModel.CategoryModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Vendor Category";
    ViewBag.PageDesc = "Edit Category";
    ViewBag.FavIcon = "fa fa-street-view";
}

<!-- page section -->
<div class="row row-sm mg-t-20">
    <div class="col-xl-12">
        <div class="card pd-20 pd-sm-40 form-layout form-layout-4">
            <h6 class="card-body-title">Category</h6>
            <p class="mg-b-20 mg-sm-b-30">Edit</p>
            <form class="form-horizontal" action="@Url.Action("CategoryEdit","VendorCategory")" method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)

                <br />
                <!-- Text input-->
                @*<div class="row mg-t-20">

                    <div class="col-md-6" style="margin-top:10px">
                        <label for="VendorName">Category:</label>
                        @Html.DropDownListFor(model => model.CategoryId, Model.ItemCategoryList, "-- Select Category --", htmlAttributes: new { id = "ItemCategory", @class = "form-control", required = "required", style = "width:450px; height:40px" })
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>


                </div>*@
                <div class="row mg-t-20">
                    <div class="col-md-6" style="margin-top:10px">
                        <label for="CategoryName">Category Name:</label>
                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { id = "CategoryName", @class = "form-control", @type = "text", required = "required", style = "width:450px; height:40px" } })
                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />
                <div class="row mg-t-20">
                    <div class="col-md-6" style="margin-top:10px">
                        <label for="IsActive">Is Active?</label>
                        @Html.CheckBoxFor(model => model.IsActive, new { @htmlAttributes = new { id = "active", @type = "checkbox", @class = "form-control", style = "width:100px; height:100px" } })

                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!-- ./Text input-->
                <!-- Button -->
                <br />
                <div class="form-group">
                    <label class="col-md-8 control-label"></label>
                    <div class="col-md-4">

                        <button type="submit" class="btn btn-info mg-r-5"><span class="glyphicon glyphicon-send"></span>  Submit</button>

                        <a href="@Url.Action("CategoryIndex","VendorCategory")" class="btn btn-secondary"><span class="glyphicon glyphicon-remove"></span> Back</a>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
