@model IEnumerable<E_Procurement.WebUI.Models.RfqApprovalModel.RFQApprovalConfigModel>
@{
    ViewBag.Title = "RFQ Approval Config";
}


<div class="main-card mb-3 card">
    @*<h6 class="card-body-title">Approval Config</h6>
    <p class="mg-b-20 mg-sm-b-30"> Configuration </p>*@
    <div class="card-body">
        <div class="right">
            <a asp-controller="RfqApprovalConfig" asp-action="Create" alt="Create" class="btn btn-primary"> Create Approval Config </a>
        </div>
        <hr />
        <div class="table-wrapper">
            <label class="col-sm-2 form-control-label"><b>RFQ APPROVAL</b></label>
            <table id="datatable1" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="wd-15p">S/N</th>
                        <th class="wd-15p">Email</th>
                        <th class="wd-15p">Level</th>
                        <th class="wd-15p">Final</th>
                        <th class="wd-10p"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (var approvalConfig in Model.Where(x => x.ApprovalTypeId == 1))
                    {
                        <tr>
                            <td>@(i = i + 1)</td>
                            <td>@approvalConfig.Email</td>
                            <td>@approvalConfig.ApprovalLevel</td>
                            <td>@approvalConfig.IsFinalLevel</td>
                            <td><a asp-controller="RfqApprovalConfig" asp-action="Edit" asp-route-id="@approvalConfig.Id" alt="Edit" class="btn btn-primary btn-icon"> <div><i class="fa fa-pencil"></i></div></a>|<a asp-action="Delete" asp-route-id="@approvalConfig.Id" class="btn btn-danger btn-icon"><div><i class="fa fa-trash-o"></i></div></a> </td>

                        </tr>
                    }

                </tbody>
            </table>
            <br />
            <label class="col-sm-2 form-control-label"><b>PO APPROVAL</b></label>
            <table id="datatable1" class="table table-hover table-striped table-bordered">

                <thead>
                    <tr>
                        <th class="wd-15p">S/N</th>
                        <th class="wd-15p">Email</th>
                        <th class="wd-15p">Level</th>
                        <th class="wd-15p">Final</th>
                        <th class="wd-10p"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int a = 0;
                    }

                    @foreach (var approvalConfig in Model.Where(x => x.ApprovalTypeId == 2))
                    {
                        <tr>
                            <td>@(a = a + 1)</td>
                            <td>@approvalConfig.Email</td>
                            <td>@approvalConfig.ApprovalLevel</td>
                            <td>@approvalConfig.IsFinalLevel</td>
                            <td><a asp-controller="RfqApprovalConfig" asp-action="Edit" asp-route-id="@approvalConfig.Id" alt="Edit" class="btn btn-primary btn-icon"> <div><i class="fa fa-pencil"></i></div></a>|<a asp-action="Delete" asp-route-id="@approvalConfig.Id" class="btn btn-danger btn-icon"><div><i class="fa fa-trash-o"></i></div></a> </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div><!-- table-wrapper -->
        </div>
    </div><!-- card -->


    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/datatables/jquery.dataTables.js"></script>
    <script src="/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            // $.noConflict();
            $(function () {
                'use strict';

                // for all datatable
                $('#datatable1').DataTable({
                    responsive: true,
                    language: {
                        searchPlaceholder: 'Search...',
                        sSearch: '',
                        lengthMenu: '_MENU_ items/page',
                    }
                });
                // Select2
                $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });
            });
        });
    </script>

